#Footer
  position fixed
  bottom 0
  left 0
  width 100%
  font-size 87%
  white-space nowrap
  border-top 1px dashed navy
  background #B0D0F0

  #github
    position absolute
    right 0
    bottom 0

*
  html
    #Footer
      position absolute
