body
  background: body-color
  // IE6 Fixed Position Jitter Fix
  -background-image: url(about:blank)
  -background-attachment: fixed
  margin: 0
  padding: 0
  margin-top: 1.5em

#head
  position: fixed
  top: 0
  -position: absolute
  -top: expression(eval(document\.documentElement\.scrollTop))
  left: 0
  width: 100%
  background: yellow
