body-color = #0ff
sky-down = white
sky-up = silver
body-top = 2.5em
tabs-outline = black
tabs-margin = 0.5ex
tabs-radius = 0.5ex
tabs-padding = 0.5ex
tabs-active-padding = 1ex

body()
  background: body-color
  margin: 0
  padding: 0
  color black
  font-family Verdana, Arial, sans-serif
